@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --font : 'Anton', sans-serif;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*nav*/
.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#box {
    height: 20px;
    width: 100%;
    background-color: #f5f5f5;
}
.box-container a {
    text-decoration: none;
    color: black;
    margin: 0 auto;
}

.box-container a:hover{
    color: #757575;
}

.box-container p {
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    margin: auto auto;
}

/*sec1*/
.box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20%;
}

.text-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.text-item p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-top: 5px;
    width: 100%;
    margin: auto 0;
}

.text-item img {
    width: 100%;
}

/*sec2*/

.box-sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec2-brand {
    margin: 0 auto;
}

.sec2-brand img {
    padding: 0 30%;
}


.sec2-brand , img {
    width: 100%;
    text-align: center;
}
.sec2-equipo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sec2-equipo p {
    text-align: center;
    font-family: var(--font);
    font-size: 30px;
    width: 100%;
}

.sec2-perfil {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.perfil-item {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}




/*media*/

/*nav*/
@media screen and (max-width: 767px) {
    .box-band p {
        font-size: 20px;
        margin: 5px auto;
    }
}

/*sec1*/

@media screen and (max-width: 767px) {
    .box-item {
        width: 100%;
        padding: 15px;
        margin: 0;
    }

    .text-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .text-item p {
        width: 100%;
        font-size: 10px;
    }

    .text-item img {
        width: 100%;
    }

}

/*sec2*/

@media screen and (max-width: 767px) {
    .box-sec2 {
        width: 100%;
    }

    .sec2-brand {
        width: 100%;
    }

    .sec2-brand img {
        width: 100%;
    }


    .sec2-equipo {
        width: 100%;
    }

    .sec2-perfil {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 15%;
    }

    .sec2-perfil img , p {
        width: 100%;
    }
}