@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/*section1*/
.box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#box {
    height: 20px;
    width: 100%;
    background-color: #f5f5f5;
}
.box-container a {
    text-decoration: none;
    color: black;
}

.box-container p {
    font-family: 'Anton', sans-serif;
    font-size: 35px;
}

/*section 2*/
.box-sec2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box-sec2 {
    width: 100%;
}

.box-sec2 img {
    width: 30%;
}

.box-sec2 h1 {
    width: 100%;
    padding: 5%;
    text-align: center;
}

